.button {
  @include flex-center(true);

  font-weight: 700;
  @include fluid-text(20, 16);
  text-align: center;
  color: var(--color-white);
  border-radius: var(--border-radius-xxl);
  border: none;
  user-select: none;
  cursor: pointer;
  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease,
    transform var(--transition-duration) ease;
}

.icon {

  @include mobile {
   width: 14px;
   height: 14px;
 }
}

.buttonLink {
  padding: 0;
}

.iconOnly .icon {
  width: 26px;
  height: 26px;

  @include tablet-down {
    width: 22px;
    height: 22px;
  }

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

.iconOnly {
  @include square(fluid(54, 40));
  padding: 0;
  border-radius: 50%;
}

.filled {
  padding: fluid-to-laptop(16, 12) fluid(45, 36);
  background-color: var(--color-purple-bright);
  column-gap: 4px;
  border: none;
  text-align: center;

  @include hover {
    color: var(--color-gray-bright);
    background-color: var(--color-purple-pale);
    box-shadow: var(--box-shadow);
  }
}

.outlined {
  border: var(--border-width-s) solid currentColor;
  background-color: transparent;
  color: var(--color-gray-bright);

  @include hover {
    color: var(--color-white);
    border-color: var(--color-white);
  }

}

.ghosted {
  color: var(--color-gray-bright);
  font-weight: 400;

  @include mobile {
    font-size: 12px;
  }

  @include hover {
    color: var(--color-white);
  }

}