.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: var(--mobile-nav-height);
  width: 100%;
  z-index: 100;
  background-color: var(--color-purple-bg-light);
  box-shadow: var(--box-shadow);
  padding-bottom: env(safe-area-inset-bottom);
}
